<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Wyszukiwarka lotów</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/flightapp/css/suggestions-list.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script th:src="@{/js/scripts.js}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">FlightApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/reservations}">Rezerwacje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h3 class="mb-4">Wyszukaj lotów</h3>

    <form id="flightSearchForm" class="form-horizontal">
        <div class="mb-3">
            <label for="originSearch" class="form-label">Miejsce wylotu:</label>
            <input type="text" id="originSearch" class="form-control" placeholder="Wpisz miasto lub lotnisko"/>
            <input type="hidden" id="originCode" name="originCode"/>
            <ul id="originSuggestions" class="suggestions-list"></ul>
        </div>

        <div class="mb-3">
            <label for="destinationSearch" class="form-label">Miejsce przylotu:</label>
            <input type="text" id="destinationSearch" class="form-control" placeholder="Wpisz miasto lub lotnisko"/>
            <input type="hidden" id="destinationCode" name="destinationCode"/>
            <ul id="destinationSuggestions" class="suggestions-list"></ul>
        </div>

        <div class="mb-3">
            <label for="departureDate" class="form-label">Data wylotu:</label>
            <input type="date" id="departureDate" name="departureDate" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="returnDate" class="form-label">Data powrotu:</label>
            <input type="date" id="returnDate" name="returnDate" class="form-control">
        </div>

        <div class="mb-3">
            <label for="passengers" class="form-label">Liczba pasażerów:</label>
            <input type="number" id="passengers" name="numberOfPassengers" class="form-control" min="1" max="9"
                   value="1" required>
        </div>

        <div class="mb-3">
            <label for="directFlight" class="form-label">Lot bez przesiadek:</label>
            <input type="checkbox" id="directFlight" name="directFlight" class="form-check-input">
        </div>

        <button type="submit" class="btn btn-primary">Szukaj rezerwacji</button>
    </form>

    <div class="mt-4" id="flightsResults">
    </div>
</div>

</body>
</html>