<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>FlightApp - Login and Registration Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Logowanie i Rejestracja</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Zaloguj się</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/><br/><br/>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Rejestracja</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-success">
                    <p>Użytkownik zarejestrowany pomyślnie!</p>
                    <button type="button" class="btn-close position-absolute end-0" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="card-body">
                <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
                    <div class="form-group mb-3">
                        <label class="form-label">Nazwa użytkownika</label>
                        <label for="userName"></label><input type="text"
                                                             class="form-control"
                                                             id="userName"
                                                             name="userName"
                                                             th:field="*{userName}"
                                                             placeholder="Podaj nazwę użytkownika"
                                                             required="required"/>
                        <p th:errors="*{userName}" class="text-danger" th:if="${#fields.hasErrors('userName')}">Nazwa użytkownika jest zajęta</p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Imię</label>
                        <label for="firstName"></label><input type="text"
                                                              class="form-control"
                                                              id="firstName"
                                                              name="firstName"
                                                              th:field="*{firstName}"
                                                              placeholder="Podaj imię"
                                                              required="required"/>
                        <p th:errors="*{firstName}" class="text-danger" th:if="${#fields.hasErrors('firstName')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Nazwisko</label>
                        <label for="lastName"></label><input type="text"
                                                             class="form-control"
                                                             id="lastName"
                                                             name="lastName"
                                                             th:field="*{lastName}"
                                                             placeholder="Podaj nazwisko"
                                                             required="required"/>
                        <p th:errors="*{lastName}" class="text-danger" th:if="${#fields.hasErrors('lastName')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <label for="email"></label><input type="email"
                                                          class="form-control"
                                                          id="email"
                                                          name="email"
                                                          th:field="*{email}"
                                                          placeholder="Podaj email"
                                                          required="required"/>
                        <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}">Adres e-mail jest już zajęty</p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Hasło</label>
                        <label for="password"></label><input type="password"
                                                             class="form-control"
                                                             id="password"
                                                             name="password"
                                                             th:field="*{password}"
                                                             placeholder="Podaj hasło"
                                                             required="required"/>
                        <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Zarejestruj się</button>
                        <span>Masz już konto? <a th:href="@{/login}">Zaloguj się</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>